{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Change Password</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="min-h-screen bg-gradient-to-b from-[#2A3A30] to-[#254832] flex flex-col items-center py-10 mt-16">
  <div class="bg-[#F3EAD8] shadow-lg rounded-lg p-8 w-full max-w-md">
    <h1 class="text-2xl font-bold text-[#B48125] mb-4 text-center">Change Password</h1>
    <form method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      
      <!-- Pesan sukses atau error -->
      {% if messages %}
        {% for message in messages %}
          <p class="mb-4 text-center {% if message.extra_tags == 'error' %}text-red-500{% elif message.extra_tags == 'success' %}text-green-500{% endif %}">
            {{ message }}
          </p>
        {% endfor %}
      {% endif %}

      <div class="mb-4">
        <label class="block text-[#B48125] text-sm font-bold mb-2">Current Password:</label>
        <input type="password" name="old_password" class="form-input w-full p-2 border rounded" required>
      </div>
      <div class="mb-4">
        <label class="block text-[#B48125] text-sm font-bold mb-2">New Password:</label>
        <input type="password" name="new_password" class="form-input w-full p-2 border rounded" required>
      </div>
      <div class="mb-4">
        <label class="block text-[#B48125] text-sm font-bold mb-2">Confirm New Password:</label>
        <input type="password" name="confirm_password" class="form-input w-full p-2 border rounded" required>
      </div>
      <div class="flex justify-end space-x-4">
        <button type="submit" class="bg-[#B48125] hover:bg-[#8C3F0D] text-white py-2 px-4 rounded-lg">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}