{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="my-data" data-forum-url="{% url 'discussion:show_forum_json' %}"></div>
{% include 'navbar.html' %}

<h2 style="margin: 30px 30px 5px 30px; text-align: center;">Add a new thread</h2>

<div class="d-flex justify-content-center set-margin">
    <a>    
        <button type="button" class="btn btn-primary btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #273faa;">
            +
        </button>
    </a>    
</div>

<table class="row" id="discussion_container" style="margin: 0px 40px 40px 40px;"></table>

